.home {
    /* concepto-preparacion-examen-publico 1 */
    background-image: url(../../assets/concepto-preparacion-examen-publico.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.section__home {
    padding: 3rem 0 2rem;
}

.home__title {
    position: relative;
    top: 20rem;
    left: 18rem;
    width: 500px;
    text-align: center;
    animation: escribiendo 6s infinite, pleca 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
    color: white;
    font-weight: bold;
}

@keyframes escribiendo {

    0%,
    100% {
        width: 0;
    }

    40%,
    60% {
        width: 800px;
    }

    90% {
        width: 0;
    }

}

.button--flex {
    position: relative;
    top: 30.5rem;
    font-weight: bold;
    left: 42.5%;
}

.button--flex:hover {
    transform: translate(-5px, -10px);
    color: var(--title-color-dark);
    box-shadow: 10px 10px rgba(225, 144, 49, 0.65);
    transition: 0.5s;
}

/*Breakpoints*/
/*For large devices*/
@media screen and (max-width: 992px) {
    .home__title {
        position: relative;
        top: 15rem;
        left: -5px;
        animation: none;
        width: 100%;
        align-items: center;
        font-size: var(--big-font-size);
        white-space: unset;
        overflow: unset;
        border: unset;
    }

    .home{
        background-image: url(../../assets/fondocelular.png);
        background-repeat: no-repeat;
        width: 100%;
    }

    .button--flex {
        position: relative;
        left: 20%;
        top: 22.5rem;
    }

}

