.about {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* Centrar horizontalmente */
  text-align: center;
  /* Centrar texto */
  padding-top: 5rem;
  background-color: var(--BBackground);
  align-items: center;
}

.about__title {
  color: var(--RHeader);
  font-size: 45px;
}

.about__advice {
  text-align: center;
  padding: 2rem;
  font-size: 25px;
  font-weight: bold;
}

.button {
  font-size: 20px;
}

.button--flex__about {
  border-color: var(--RHeader);
}

.button--flex__about:hover {
  color: var(--hover);
  box-shadow: 10px 10px rgba(225, 144, 49, 0.65);
  transition: 0.5s;
}

.button--flex__about a {
  color: var(--letter);
  text-decoration: none;
}

.button--flex__about a:hover {
  color: var(--hover);
}

.about__card{
  max-height: calc(100vh - 200px);
  /* Altura máxima de la tarjeta (ajustada para el contenido) */
  overflow-y: auto;
  /* Agregar scroll vertical si es necesario */
  border: 1px solid #ccc;
  /* Borde de la tarjeta */
  border-radius: 5px;
  /* Bordes redondeados */
  padding: 20px;
  /* Espaciado interior */
  background-color: #fff;
  /* Color de fondo de la tarjeta */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra de la tarjeta */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about__card-content{
  max-height: 300px;
  /* Altura máxima para el contenido */
  /* Agregar scroll vertical si es necesario */
}

.about__card-content h2{
  font-size: 20px;
    /* Tamaño de fuente del título de la tarjeta */
    margin-bottom: 10px;
    /* Espaciado inferior */
    color: var(--RHeader);
    font-weight: bold;
}

.about__card-content p{
  font-size: 16px;
    /* Tamaño de fuente del texto de la tarjeta */
    margin-bottom: 20px;
    /* Espaciado inferior */
    text-align: justify;
}

/* Estilos específicos para dispositivos más pequeños */
@media (min-width: 1800px) {
  .about__card {
    max-height: calc(100vh - 300px);
    /* Ajusta la altura máxima para pantallas más grandes */
  }
}

@media (min-width: 1100px) {
  .about__card {
    max-height: calc(100vh - 400px);
    /* Ajusta la altura máxima para pantallas más grandes */
  }
}

@media (max-width: 768px) {

  /* Ajustar el ancho máximo y el margen para pantallas pequeñas */
  .content {}

  /* Cambiar el tamaño de fuente para mejorar la legibilidad */
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  /* Centrar el botón */
  button {
    display: block;
    margin: 0 auto;
  }
}

/* Media queries para dispositivos aún más pequeños (teléfonos) */
@media screen and (max-width: 480px) {
  .about__title {
    font-size: 40px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .about__advice {
    font-size: 20px;
    padding: 1rem;
  }

  .about__text {
    padding: 2rem 1rem 1rem;
    font-size: 18px;
  }

  .about__card{
    max-height: calc(100vh - 475px);
  }
}