header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    background-color: var(--RHeader);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.contenedor {
    max-width: 1110px;
    margin: 0 auto;
    position: fixed;
    z-index: var(--z-fixed);
}

.back {
    padding: 32px 0;
    background-color: var(--RHeader);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 36px;
    color: var(--letter);
    font-weight: bold;
}

.logo:hover {
    color: var(--hover);
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: var(--letter);
    display: block;
}

.menu .navbar ul li a:hover {
    color: var(--hover);
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
    .menu {
        padding: 19px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 40px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--hover);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .menu .navbar ul li a:hover {
        color: var(--RHeader);
    }

    #menu:checked~.navbar {
        display: initial;
    }
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .menu {
        padding: 19px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 40px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #C9C9C9;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .menu .navbar ul li:hover {
        background-color: var(--RHeader);
    }

    .menu .navbar ul li a {
        color: var(--RHeader);
    }

    .menu .navbar ul li a:hover {
        color: var(--letter);
    }

    #menu:checked~.navbar {
        display: initial;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--RHeader);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .show-menu{
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--letter);
    }

    .nav__close:hover {
        color: var(--title-color-dark);
    }

    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }

}

@media screen and (max-width: 380px) {
    .header{
        width: 330px;
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
        width: 330px;
    }

    .nav__list {
        column-gap: 0;
    }
}*/