.simulation{
  background-color: var(--BBackground);
  height: 100vh;
}

.message__simulation{
  padding: 4rem;
}

.message__simulation p{
  font-size: 33px;
  text-align: center;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 380px) {
  .simulation{
    height: 100%;
    width: 330px;
  }
}