.welcome {
    /* concepto-preparacion-examen-publico 1 */
    background-image: url(../../assets/welcome.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.section__home {
    padding: 3rem 0 2rem;
}

.home__container {
    row-gap: 3rem;
}

.home__content {
    padding-top: 5rem;
    padding-bottom: 8.5rem;
    column-gap: 2rem;
    align-items: center;
}

.first__message {
    position: absolute;
    top: 1050px;
    left: 150px;
    width: 400px;
    margin-top: 10px;
}

.first__message p {
    font-size: 96px;
    font-weight: bold;
    text-align: justify;
    color: #872600;
}

.second__message {
    position: relative;
    top: 100px;
    left: 200px;
    margin-left: 400px;
}

.second__message p {
    color: black;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

/*Breakpoints*/
/*For large devices*/
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }
}

/*For medium devices*/
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .first__message {
        top: 750px;
        left: 40px;
        width: 325px;
    }

    .first__message p {
        font-size: 40px;
        text-align: center;
    }

    .second__message {
        top: 70px;
        left: 6px;
        margin-left: 0;
        width: 325px;
    }

    .second__message p {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .first__message {
        top: 900px;
        left: 24px;
        width: 330px;
    }

    .first__message p {
        font-size: 40px;
        text-align: center;
    }

    .second__message {
        top: 135px;
        left: 10px;
        margin-left: 0;
        width: 330px;
    }

    .second__message p {
        font-size: 24px;
    }
}

/*For small devices*/
@media screen and (max-width: 380px) {
    .welcome{
        height: 100%;
        width: 330px;
    }

    .first__message {
        top: 770px;
        left: 24px;
        width: 246px;
    }

    .first__message p {
        font-size: 40px;
        text-align: center;
    }

    .second__message {
        top: 100px;
        left: 10px;
        margin-left: 0;
        width: 246px !important;
    }

    .second__message p {
        font-size: 24px;
        padding-bottom: 10px;
    }
}