.developers{
    background-color: var(--BBackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.developers__header {
    text-align: center;
    margin-bottom: 80px;
    color: var(--RHeader);
    font-weight: bold;
    font-size: 35px;
}

.developers__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(225, 144, 49, 0.65);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    /* Ancho ajustado para dos tarjetas en una fila */
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    /* Añade un margen superior */
}

.info-list li {
    margin-bottom: 5px;
    /* Espacio entre elementos de la lista */
}

/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .developers__card{
        flex-direction: column;
        /* Cambia a columna en dispositivos más pequeños */
    }

    .card {
        width: 100%;
        /* Ancho completo en dispositivos más pequeños */
        margin-bottom: 20px;
        /* Espacio entre las tarjetas */
    }
}

@media screen and (max-width: 480px) {
    .developers{
        height: 100vh;
    }

    .developers__header{
        font-size: 20px;
        margin-top: 95px;
        margin-bottom: 20px;
    }

    .developers__card{
        flex-direction: column;
        padding: 0;
        width: 80%;
        /* Cambia a columna en dispositivos más pequeños */
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .circle, .circle__imagen{
        width: 100px;
        height: 100px;
    }
}