.dev {
    background-color: var(--BBackground);
    height: 100vh;
    padding-top: 5.5rem;
}

.dev__title {
    color: var(--RHeader);
    padding-bottom: 3rem;
}

.dev__container {
    padding-bottom: 1rem;
}

.dev__img {
    height: 214px;
    width: 214px;
    position: relative;
    left: 15%;
    padding-bottom: 7rem;
}

.dev__img img {
    border-radius: 50%;
}

.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: rgba(225, 144, 49, 0.65);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__content:hover{
    transform: translate(-5px,-10px);
    box-shadow: 10px 10px rgba(238, 196, 45, 0.65);
    transition: 0.5s;
}

.skills__title {
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}


/*Breakpoints*/
/*For large devices*/
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }

    .dev{
        height: 100%;
        padding-bottom: 20px;
    }

    .dev__title{
        left: 20%;
    }

    .dev__img{
        left: 22%;
    }
}

/*For small devices*/
@media screen and (max-width: 380px) {

    .dev{
        height: 100%;
        width: 330px;
    }

    .dev__container{
        position: relative;
        left: -5%;
    }

    .skills__title{
        position: relative;
        left: -3%;
    }

    .skills__content{
        padding: 2rem 4rem;
        width: 80%;
        position: relative;
        left: 7%;
    }
}